* {
  margin: 0;
  padding: 0;
  font-family: 'Kurale', 'sans-sherif';
  box-sizing: border-box;
}

body {
  background: #002e4a;
}

.app {
  background: #ffff;
  padding: 30px;
  width: 80%;
  max-width: 500px;
  margin: 100px auto 0;
  border-radius: 0.75rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app h1 {
  font-size: 38px;
  color: #002e4a;
  border-bottom: 1px solid #444;
  font-weight: 800;
}

.quiz {
  padding: 10px 0;
}

.quiz h2 {
  color: #002e4a;
  font-weight: 800;
  font-size: 28px;
  width: 100%;
  max-width: 500px;
}

.btn {
  background: #ffff;
  color: #222;
  font-weight: 400;
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid #222;
  text-align: left;
  cursor: pointer;
  border-radius: 0.75rem;
  transition: all 0.5s;
}

.btn:hover:not([disabled]) {
  background: #444;
  color: #ffff;
}

.btn:disabled {
  cursor: auto;
}

#score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00FF00;
}

#next-btn {
  background: #002e4a;
  color: #ffff;
  width: 150px;
  font-weight: 600;
  border: 0;
  margin: 20px auto 0;
  padding: 10px;
  border-radius: 0.75rem;
  cursor: pointer;
  display: none;
}

#start-btn {
  background: #009b40;
  color: #ffff;
  width: 150px;
  font-weight: 600;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
  padding: 10px;
  border-radius: 0.75rem;
  cursor: pointer;
}

#quit-btn {
  background: #000000;
  color: #ffff;
  width: 50px;
  font-weight: 600;
  border: 0;
  margin: 20px auto 0;
  padding: 5px;
  border-radius: 0.75rem;
  cursor: pointer;
}

.correct {
  background: #00FF00;
}

.incorrect {
  background: #FF0000;
}